<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
	</grants>
	<actions>
		<!-- 관리자 액션 -->
		<action name="dispAssetserverAdminConfig" class="Controllers\Admin" menu_name="assetserver" admin_index="true" />
		<action name="procAssetserverAdminInsertConfig" class="Controllers\Admin" />
		<!-- 메인 화면 예제 -->
		<action name="dispAssetserverIndex" class="Controllers\Index" index="true" />
	</actions>
	<menus>
		<menu name="assetserver" type="all">
			<title xml:lang="ko">에셋 박스 서버</title>
		</menu>
	</menus>
</module>
